<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
            <section class="main-form">
                <h1 class="main__title">Email je uspešno poslat!</h1>
                <p>Proverite Vaš email (i spam folder)</p>
            </section>
        <%- include('../includes/end.ejs') %>

