<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .content__container {
            text-align: left;
        }

        h2 {
            margin-bottom: 2rem;
        }
    </style>
    <%- include('../includes/navigation.ejs') %>
        <section class="main__container">
            <h1 class="main__title">
                <%= pageTitle %>
            </h1>
            <div class="content__container">
                <h1>Kuvajmo Zajedno - Društvena Mreža za Ljubitelje Kuvanja</h1>
                <h2>Napravite, Čuvajte, Delite i Prodajte Svoje Recepte i Knjige</h2>
                <p>
                    <strong>Kuvajmo Zajedno</strong> je jedinstvena <strong>web aplikacija</strong> osmišljena da
                    ljubiteljima kuvanja omogući
                    kreiranje, čuvanje, deljenje i prodaju <strong>recepata</strong> i <strong>knjiga recepata</strong>.
                    Aplikacija funkcioniše kao <strong>društvena mreža</strong>, omogućavajući korisnicima da izraze
                    svoju kreativnost,
                    izgrade novi izvor prihoda i podele svoje kulinarske umeće sa svetom.
                </p>

                <h3>Šta nudi Kuvajmo Zajedno?</h3>
                <ul>
                    <li><strong>Inspiracija:</strong> Pronađite nove recepte i kulinarske ideje od drugih članova
                        zajednice.</li>
                    <li><strong>Čuvanje i deljenje:</strong> Sačuvajte svoje omiljene recepte i podelite ih sa drugima.
                    </li>
                    <li><strong>Zarada:</strong> Prodajte svoje recepte ili knjige recepata i ostvarite pasivni prihod.
                    </li>
                </ul>

                <h3>Zajednica za Diskusije i Razmenu Iskustava</h3>
                <p>
                    Osim recepata, <strong>Kuvajmo Zajedno</strong> nudi <strong>blog</strong> sa različitim kulinarskim
                    temama gde članovi mogu da
                    učestvuju u diskusijama, postavljaju pitanja, razmenjuju iskustva i dele savete.
                    Svaka tema je prilika za korisnike da nauče nešto novo i doprinesu bogatstvu zajedničkog znanja.
                </p>

                <h3>Ključne Funkcije Zajednice:</h3>
                <ul>
                    <li><strong>Tematski Blog:</strong> Članovi mogu otvarati teme iz različitih oblasti kuvanja (zdrava
                        ishrana, veganski recepti, saveti za pečenje, itd.).</li>
                    <li><strong>Komentarisanje i Diskusija:</strong> Svaki korisnik može komentarisati i učestvovati u
                        diskusijama kako bi delio iskustva i tražio savete.</li>
                    <li><strong>Povezivanje:</strong> Zajednica omogućava povezivanje sa ljudima koji dele istu strast
                        prema kuvanju.</li>
                </ul>

                <h3>Sačuvajmo Recepte i Podelimo Strast</h3>
                <p>
                    <strong>Kuvajmo Zajedno</strong> je osmišljena kao mesto gde se <strong>recepti i knjige</strong>
                    mogu sačuvati od zaborava,
                    objediniti i postati izvor inspiracije za sve ljubitelje hrane i kulinarske avanture. Kroz zajednicu
                    i interakciju sa
                    drugim korisnicima, platforma podstiče kreativnost i istraživanje novih ukusa.
                </p>

                <h3>Zabava, Učenje i Povezivanje</h3>
                <p>
                    Ovo nije samo platforma za recepte, već i zajednica u kojoj možete naučiti nove veštine, deliti
                    svoje kulinarske
                    poduhvate i povezati se sa ljudima sličnih interesovanja. <strong>Kuvajmo Zajedno</strong> je pravo
                    mesto za sve - od
                    početnika do profesionalnih kuvara, od najmlađih do najstarijih!
                </p>


                <h3>Aplikaciju Izradio Arius Systems - Milan V.</h3>
                <p>
                    <strong>Arius Systems</strong>, predvođen <strong>Milanom V.</strong>, osmislio je i realizovao ovu
                    aplikaciju kao
                    odgovor na konkretne izazove i potrebe korisnika u svetu digitalne kulinarske zajednice.
                    Aplikacija je pažljivo dizajnirana sa fokusom na funkcionalnost, sigurnost i jednostavnost
                    korišćenja.
                </p>

                <h4>Ključne Funkcionalnosti Aplikacije:</h4>
                <ul>
                    <li><strong>Registracija i Prijava:</strong> Brza i sigurna registracija novih korisnika uz
                        jednostavan proces prijave.</li>
                    <li><strong>Autentikacija i Autorizacija:</strong> Osiguravanje da samo ovlašćeni korisnici mogu
                        pristupiti određenim delovima aplikacije.</li>
                    <li><strong>Čuvanje i Obrada Podataka:</strong> Bezbedno skladištenje korisničkih podataka i njihova
                        obrada radi pružanja personalizovanih iskustava.</li>
                    <li><strong>Napredna Analitika:</strong> Praćenje i analiza korisničkih aktivnosti, radi poboljšanja
                        performansi i korisničkog iskustva.</li>
                    <li><strong>Sigurnosne Mogućnosti:</strong> Implementirane sigurnosne mere kako bi podaci korisnika
                        i transakcije bili zaštićeni.</li>
                    <li><strong>Upravljanje Slikama:</strong> Jednostavno postavljanje, čuvanje i prikazivanje slika
                        recepata i knjiga sa optimizacijom za različite uređaje.</li>
                    <li><strong>Plaćanje:</strong> Integracija sistema plaćanja radi olakšavanja
                        transakcija unutar aplikacije.</li>
                    <li><strong>Email Komunikacija:</strong> Automatizovana slanja emailova za potvrde, obaveštenja i
                        marketing.</li>
                    <li><strong>Upravljanje Sistemom:</strong> Alati za administratorsko upravljanje sadržajem,
                        korisnicima i transakcijama.</li>
                    <li><strong>Korisnička Podrška:</strong> Dostupan sistem za podršku korisnicima radi rešenja bilo
                        kakvih problema ili pitanja.</li>
                    <li><strong>Feedback i Povratne Informacije:</strong> Mogućnost korisnicima da dele svoja iskustva i
                        predlože poboljšanja.</li>
                </ul>

                <p>
                    Ova aplikacija nije samo tehnički alat, već rešenje koje omogućava korisnicima da lako i bezbedno
                    dele,
                    prodaju i upravljaju svojim kulinarskim sadržajima. Kroz pažljivo implementirane funkcije,
                    <strong>Kuvajmo Zajedno</strong> postaje više od platforme - ona je prostor za povezivanje,
                    kreativnost i rast u digitalnom svetu kulinarstva.
                </p>

                <section class="social__links">
                    <h3>Povežite se sa nama:</h3>
                    <ul>
                        <li><a class="main__link" href="https://www.youtube.com/@kuvajmo" target="_blank" rel="noopener noreferrer">
                            YouTube
                        </a></li>
                        <li><a class="main__link" href="https://www.instagram.com/kuvajmo.zajedno" target="_blank" rel="noopener noreferrer">
                            Instagram
                        </a></li>
                        <li><a class="main__link" href="https://www.tiktok.com/@kuvajmozajedno" target="_blank" rel="noopener noreferrer">
                            TikTok
                        </a></li>
                    </ul>
                </section>
            </div>
        </section>
        <%- include('../includes/end.ejs') %>