<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/leanding.css">
</head>
<body>
<section class="main__container">
    <section class="container kuvajmo-zajedno">
        <div class="content">
            <h2>Kuvajmo Zajedno</h2>
            <p>Uživaj u zajedničkom kuvanju sa prijateljima i porodicom! Pronađi inspiraciju kroz bogatu kolekciju recepata, kreiraj, podeli, sačuvaj i prodaj svoje omiljene kreacije.</p>
            <p>Klikom na dugme, zakorači u svet kulinarstva, gde možeš da deliš, kupuješ i zarađuješ na svom talentu i postaneš deo zajednice!</p>
            <a class="btnk" href="/pronadji">Kuvajmo Zajedno</a>
        </div>
        <div class="image">
            <img src="/images/kuvajmozajedno_hero.png" alt="Kuvajmo Zajedno Slika">
        </div>
    </section>

    <section class="container fitnes-familija">
        <div class="content">
            <h2>Fitness Family</h2>
            <p>Postani deo zajednice posvećene zdravijem i aktivnijem životu! Pronađi teretane, trenere, i nabavi vrhunsku fitnes opremu. Budi deo porodice koja te inspiriše i podržava na tvom putu ka boljem zdravlju. Klikom na dugme započni svoj fitnes put i pridruži se našoj zajednici!</p>
            <a class="btnf">USKORO</a>
        </div>
        <div class="image">
            <img src="/images/fitnesfamilija_hero.png" alt="Fitness Family Slika">
        </div>
    </section>
</section>
</body>
</html>