<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<style>
    .content__container {
        text-align: left;
    }

    h2 {
        margin-bottom: 2rem;
    }
</style>
    <%- include('../includes/navigation.ejs') %>
            <section class="main__container">
                <h1 class="main__title"><%= pageTitle %></h1>
                <div class="content__container">
                    <p><strong>Datum poslednje izmene:</strong> 22.08.2024</p>
                
                    <p>Ova Politika privatnosti objašnjava kako prikupljamo, koristimo, čuvamo i štitimo vaše lične podatke kada koristite našu aplikaciju. Molimo vas da pažljivo pročitate ovu Politiku privatnosti kako biste razumeli naše postupke u vezi sa vašim podacima. Kreiranjem naloga ili korišćenjem naše aplikacije, prihvatate ovu Politiku privatnosti.</p>
                
                    <h2>1. Podaci koje prikupljamo</h2>
                
                    <p><strong>1.1 Lični podaci</strong></p>
                    <p>Prilikom registracije na našoj aplikaciji, prikupljamo samo vašu email adresu i korisničko ime (username). Ovi podaci su neophodni za kreiranje i održavanje vašeg naloga.</p>
                
                    <p><strong>1.2 Podaci o aplikaciji</strong></p>
                    <p>Prikupljamo podatke koji su direktno vezani za korišćenje aplikacije, kao što su recepti koje kreirate, knjige recepata koje prodajete, i druge interakcije unutar aplikacije.</p>
                
                    <p><strong>1.3 Podaci za isplatu</strong></p>
                    <p>Kada šaljete instrukcije za isplatu, prikupljamo podatke potrebne za obradu isplate. Ovi podaci se čuvaju kratkoročno, isključivo dok se isplata ne izvrši ili dok ne bude odbijena. Nakon toga, podaci se automatski brišu iz našeg sistema.</p>
                
                    <h2>2. Kako koristimo vaše podatke</h2>
                
                    <p><strong>2.1 Pružanje usluga</strong></p>
                    <p>Vaše email adrese i korisnička imena koristimo za upravljanje vašim nalozima i omogućavanje pristupa funkcijama aplikacije, kao što su kreiranje i prodaja recepata i knjiga recepata.</p>
                
                    <p><strong>2.2 Komunikacija</strong></p>
                    <p>Vašu email adresu koristimo za komunikaciju sa vama u vezi sa vašim nalogom, uključujući slanje email-a za potvrdu registracije, obaveštenja o promenama u aplikaciji, i odgovaranje na vaše upite.</p>
                
                    <p><strong>2.3 Bezbednost podataka</strong></p>
                    <p>Svi osetljivi podaci, uključujući lozinke i podatke za isplatu, su zaštićeni korišćenjem hešovanja i enkripcije kako bismo osigurali njihov integritet i poverljivost.</p>
                
                    <h2>3. Deljenje podataka</h2>
                
                    <p><strong>3.1 Ne delimo podatke sa trećim stranama</strong></p>
                    <p>Vaši podaci neće biti deljeni sa trećim stranama, osim u slučajevima kada je to zakonski neophodno ili kada ste vi izričito dali saglasnost.</p>
                
                    <h2>4. Čuvanje podataka</h2>
                
                    <p><strong>4.1 Period čuvanja</strong></p>
                    <p>Vaše podatke čuvamo onoliko dugo koliko je potrebno za ispunjavanje svrha navedenih u ovoj Politici privatnosti, osim ako je duži period čuvanja propisan zakonom.</p>
                
                    <p><strong>4.2 Brisanje podataka</strong></p>
                    <p>Podaci koji se prikupljaju za svrhe isplate čuvaju se samo dok se isplata ne izvrši ili odbije, nakon čega se automatski brišu.</p>
                
                    <p><strong>4.3 Bezbednost podataka</strong></p>
                    <p>Primenićemo odgovarajuće tehničke i organizacione mere, uključujući hešovanje i enkripciju, kako bismo zaštitili vaše podatke od neovlašćenog pristupa, izmene, otkrivanja ili uništenja.</p>
                
                    <h2>5. Vaša prava</h2>
                
                    <p><strong>5.1 Pristup i ispravka</strong></p>
                    <p>Imate pravo da pristupite svojim ličnim podacima koje čuvamo i da zatražite njihovu ispravku ili ažuriranje.</p>
                
                    <p><strong>5.2 Brisanje podataka</strong></p>
                    <p>Imate pravo da zatražite brisanje svojih ličnih podataka, osim u slučajevima kada smo obavezni da ih zadržimo u skladu sa zakonom.</p>
                
                    <p><strong>5.3 Prigovor i ograničenje obrade</strong></p>
                    <p>Možete se usprotiviti obradi vaših podataka ili zatražiti ograničenje njihove obrade u određenim situacijama.</p>
                
                    <h2>6. Izmene Politike privatnosti</h2>
                
                    <p><strong>6.1 Ažuriranja</strong></p>
                    <p>Ova Politika privatnosti može biti promenjena s vremena na vreme. O svim izmenama ćemo vas obavestiti putem aplikacije ili email-a. Vaše dalje korišćenje aplikacije nakon izmena znači da prihvatate novu Politiku privatnosti.</p>
                
                    <h2>7. Kontakt informacije</h2>
                
                    <p><strong>7.1 Kako nas kontaktirati</strong></p>
                    <p>Ako imate pitanja ili zabrinutosti u vezi sa ovom Politikom privatnosti ili načinom na koji rukujemo vašim podacima, molimo vas da nas kontaktirate putem email-a na: <a class="main__link" href="mailto:recipesbook.web.official@gmail.com">recipesbook.web.official@gmail.com</a>.</p>
                
                </div>
            </div>
        </section>
    <%- include('../includes/end.ejs') %>

