<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= pageTitle %></title>
    <link rel="icon" href="/logo_recipesbook.png" type="image/png">
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fitness/header.css">
    <link rel="stylesheet" href="/css/fitness/footer.css">