<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <%- include('../includes/navigation.ejs') %>
        <section class="main__container">
            <h1 class="main__title"><%= errorMsg %></h1>
        </section>
    <%- include('../includes/end.ejs') %>