<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/fitness/main.css">
<%- include('../includes/navigation.ejs') %>
    <section class="main__container">
        <h2 class="main__title">Pocetna</h2>
        <div class="content__container">
            
        </div>
    </section>
<%- include('../includes/end.ejs') %>